.productList{
    flex: 4;
    margin-left: 20px;
    color: #fff;
}

.productListEditL:hover {
  color: #d6cb30;
}

.productListEditL{
  color: black;
  cursor: pointer;
}
.productListItem{
    display: flex;
    align-items: center;
}

.productListImg {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
  }

.productListDelete:hover{
  color: red;
  cursor: pointer;
}
