#historia{
    background-image: url("http://localhost:3000/static/media/fondo_oscuro.4562a76b.jpg");
    background-size: cover;
    padding-top: 50px;
    margin-bottom: 60px;
    min-height: 600px;
    color: #ffff;
}

div .container_historia {
  /* margin-top: 90px; */
  margin-left: 20px;
  text-align: center;
}

div .contener_imagen {
  margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 0;
  margin-left: 100px;
}

.container_historia .boton-nosotros {
  background-color: transparent;
  border: 1px solid white;
  border-radius: 0;
  color: white;
  width: 100px;
  /* padding:.7rem 2.5rem; */
  font-size: 1.25rem;
  outline: none;
}

.container_historia .boton-nosotros:hover {
  background-color: white;
  color: black;
  border: 1px solid white;
}

.img_row-personal {
  background-color: black;
  padding: 20px;
  text-align: center;
  margin-bottom: 20px;
}

.img_row-personal h1 {
  color: white;
  background: linear-gradient(
    135deg,
    #fff783 0,
    #ffdf67 25%,
    #f9c346 50%,
    #e8a722 75%,
    #db8f00 100%
  );
  -webkit-background-clip: text;
  color: transparent;
  font-family: "Oswald", sans-serif;
  font-size: 40px;
}

.img_row-personal p {
    color:white;
}

.Comentarios{
  color:black;
}

#Comentarios{
  width:400px;
  display: inline;
}

.button-comentarios{
  margin-bottom: 50px;
  background-image: linear-gradient(
    135deg,
    #fff783 0,
    #ffdf67 25%,
    #f9c346 50%,
    #e8a722 75%,
    #db8f00 100%
) ;
}