.fondo-oscuro {
  background-image: url("./assets/images/fondo_oscuro.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-position: center center;
}

/* Inicio estilos scroll */
.my-scroll::-webkit-scrollbar {
  -webkit-appearance: none;
}

.my-scroll::-webkit-scrollbar:vertical {
  width: 10px;
}

.my-scroll::-webkit-scrollbar-button:increment,
.contenedor::-webkit-scrollbar-button {
  display: none;
}

.my-scroll::-webkit-scrollbar:horizontal {
  height: 10px;
}

.my-scroll::-webkit-scrollbar-thumb {
  background-color: #b4afaf;
  border-radius: 20px;
  border: 2px solid #f1f2f3;
}

.my-scroll::-webkit-scrollbar-track {
  border-radius: 10px;
}
/* Final estilos scroll */
