.userList {
  flex: 4;
  margin-left: 20px;
  color :white;
 
}

.userListEditL:hover {
  color: #d6cb30;
}

.userListEditL{
  color: black;
  cursor: pointer;
}

.userListUser {
  display: flex;
  align-items: center;
}

.userListImg {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}


.userListDelete:hover{
    color: red;
    cursor: pointer;
}